<main>
  <h1>Sign Up Form</h1>
  <form [formGroup]="customerInfoForm" (ngSubmit)="submit(customerInfoForm)">
    <div>
      <input type="text" formControlName="firstName" placeholder="First Name">
    </div>
    <div>
      <input type="text" formControlName="lastName" placeholder="Last Name">
    </div>
    <div>
      <input type="email" formControlName="email" placeholder="Email Address">
      <ng-container *ngIf="customerInfoForm.touched && customerInfoForm.dirty">
        <p *ngIf="customerInfoForm.controls.email.errors?.['pattern']">
          You must enter a valid email
        </p>
      </ng-container>
    </div>
    <button [disabled]="customerInfoForm.invalid">Submit</button>
  </form>
  <p *ngIf="showSuccessMessage">Your information has been submitted successfully 🚀</p>
</main>