<main>
  <h1>Sign Up Form</h1>
  <form [formGroup]="customerInfoForm" (ngSubmit)="submit()">
    <div>
      <app-input [control]="firstName" placeholder="Enter first name"></app-input>
    </div>
    <div>
      <app-input [control]="lastName" placeholder="Enter last name"></app-input>
    </div>
    <div>
      <app-input [control]="email" placeholder="Enter email"></app-input>
    </div>
    <button [disabled]="customerInfoForm.invalid">Submit</button>
  </form>
  <p *ngIf="showSuccessMessage">Your information has been submitted successfully 🚀</p>
</main>