label {
  font-size: 1.6rem;
  color: #a1a0a0;
  font-weight: 500;
}

input {
  margin-top: 0.7rem;
  font-size: 2rem;
  padding: 1.4rem;
  width: 100%;

  &:focus {
    outline: none;
  }
}

p {
  color: red;
  font-size: 1.6rem;
}
